
---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Página não encontrada">
  <div class="text-center p-5">
    <h1 class="display-1">404</h1>
    <p class="lead">Parece que você se perdeu...</p>
    <p> A página que você está procurando não foi encontrada.</p>
    <a href="/" class="btn btn-primary">Voltar à Página Inicial</a>
  </div>
</Layout>

<style>
 

</style>
