
---
import Layout from "../layouts/Layout.astro"
import astroConfig from "../../astro.config.mjs"
---

<Layout title="Página não encontrada">
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Página não encontrada</h1>
          <p>Parece que você está procurando algo que não existe.</p>
          <a href={astroConfig.base} class="btn btn-primary">Voltar para a página inicial</a>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    main {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

</style>
