---
import Layout from "../layouts/Layout.astro";
import astroConfig from "../../astro.config.mjs";
import servicos from "../../public/assets/data/servicos.json";

let itemName : string | undefined = "bascula";

---


<Layout title="Etna Vidros - Serviços">
  <main style="background-color: #f3f2f2;">
    <div class="container px-4 py-5" id="custom-cards">      
      <h2 class="pb-2 border-bottom">Serviços</h2>      
      <div class="py-5">       
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center g-4" >
            {
              servicos.map((servico) => (
              <div class="col">
						<div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg background-blend-custom"
							style={`background-image: url(${astroConfig.base}/${ servico.imagem}); background-size: cover `}>
							<div class="d-flex flex-column h-100 text-white p-5 pb-3 text-shadow-1">
								<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{servico.produto}</h3>
								<p>{servico.descricao}</p>
								<ul class="d-flex list-unstyled mt-auto">
									<li class="d-flex align-items-center me-3">
										<i class="bi bi-palette-fill me-1"></i>
										<small>Cores diversas</small>
									</li>
									<li class="d-flex align-items-center">
										<i class="bi bi-rulers me-1"></i>
										<small>8 milímetros</small>
									</li>
								</ul>
							</div>
						</div>
					</div>
              ))
            }      
          
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>


<style>
  .background-blend-custom {
  background-color: #002a66;
  background-blend-mode: overlay;
  background-size: cover;
  }
</style>