---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import CortinaDeVidro from "../../public/assets/img/misc/cortina-de-vidro.jpg";
---

<Layout title="Sobre nós">
<main class="bg-light">
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Sobre nós</h2>

    <div class="row py-5">
      <div class="col-sm-12 col-md-6 p-2">
        <Image src={CortinaDeVidro} class="img-fluid rounded" alt="cortina de vidro de vidraçaria">
      </div>
      <div class="col-sm-12 col-md-6 ps-5">
        <p>
          Desde 1999, a Etna Vidros se dedica a oferecer soluções completas em vidros e espelhos para todo o estado do Rio de
          Janeiro.
          Nossa missão é atender às suas necessidades com
          excelência, qualidade e um atendimento personalizado.</p>

        <em class="fw-bold">Mais do que produtos:</em>

        <ul class="list-unstyled custom-list">
          <li>Especialistas em vidros e espelhos: Oferecemos uma ampla gama de produtos, desde vidros simples até
            soluções sob medida para projetos residenciais e comerciais.</li>
          <li>Mão de obra qualificada: Nossa equipe experiente garante um serviço impecável, desde a escolha do
            material ideal até a instalação final.</li>
          <li>Atendimento personalizado: Acreditamos que cada cliente é único. Por isso, nos dedicamos a entender
            suas necessidades e expectativas para oferecer a solução perfeita.</li>
          <li>Agilidade e confiabilidade: Valorizamos o seu tempo e garantimos prazos flexíveis e um serviço
            confiável para que você tenha tranquilidade total.</li>
        </ul>

        <em class="fw-bold">Na Etna Vidros, você encontra:</em>


        <ul class="list-unstyled custom-list">
          <li>Vidros temperados e laminados: Segurança e resistência para áreas com maior risco de impacto.</li>
          <li>Espelhos sob medida: Decoração e amplitude para todos os ambientes.</li>
          <li>Box de banheiro: Design moderno e funcional para o seu banheiro.</li>
          <li>Portas de vidro: Sofisticação e praticidade para sua casa ou empresa.</li>
          <li>Peças sob encomenda: Vidros e espelhos personalizados para projetos especiais.</li>
        </ul>


        <em class="fw-bold">Somos referência em atendimento e qualidade:</em>

        <ul class="list-unstyled custom-list">
          <li>Clientes satisfeitos: Nossa reputação é construída na confiança de nossos clientes.</li>
          <li>Credibilidade: Mais de duas décadas de experiência no mercado.</li>
          <li>Rapidez: Agilidade na entrega e instalação dos serviços.</li>
          <li>Confiança: Compromisso com a qualidade e a satisfação do cliente.</li>
          <li>Etna Vidros: A solução completa para suas necessidades em vidros e espelhos.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

</Layout>


<style>
  .custom-list {
    list-style-type: square ;
    padding-left: 1.5rem;
  }
  .custom-list li::marker {
  color: #02a4ea;
}
</style>