---
import Image from "astro/components/Image.astro";
const founderDate = new Date(1999, 7, 26);
const   today = new Date();
import logo from "../../public/assets/img/misc/logo.png";
---

<footer class="container py-5 ">
  <div class="row row-cols-sm-1 row-cols-md-4 g-3 text-center text-md-start">
    <div>
      <Image src={logo} alt="logo etna vidraçaria" width={200}/>
      <p class="mt-1 mb-3 ms-2 text-muted">&copy; {founderDate.getFullYear()}–{today.getFullYear()} Etna Vidros <br>
        <em>CNPJ: 03.273.410/0001-02</em>
      </p>
        
        
    </div>
    <div>
      <h5>Nossos canais</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-dark fw-semibold link-opacity-75 text-decoration-none" href="tel:2133610030"><i
              class="bi bi-phone me-1"></i>Celular: (21) 98267-3550</a></li>
        <li><a class="link-dark fw-semibold link-opacity-75 text-decoration-none" href="https://wa.me/552133610030"><i
              class="bi bi-whatsapp me-1"></i>Whatsapp: (21)
            3361-0030</a></li>
        <li><a class="link-dark fw-semibold link-opacity-75 text-decoration-none" href="tel:212473-0325"><i class="bi bi-telephone me-1"></i>Fixo:
            (21)2473-0325</a></li>
        <li><a class="link-dark fw-semibold link-opacity-75 text-decoration-none" href="mailto:etnavidros@hotmail.com"><i
              class="bi bi-envelope me-1"></i>E-mail: etnavidros@hotmail.com </a>
        </li>
      </ul>
    </div>
    <div >
      <h5>Mídias sociais</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-dark text-decoration-none" href="https://www.instagram.com/etnavidros/" target="_blank" title="Instagram Etna Vidros"><i
            title="Instagram Etna Vidros">
            <i class="bi bi-instagram text-danger"></i> @etnavidros</a>
        </li>
        <li><a class="link-dark text-decoration-none" href="https://www.linkedin.com/in/etna-vidros/" target="_blank" title="LinkedIn Etna Vidros"><i
            title="LinkedIn Etna Vidros"><i class="bi bi-linkedin text-primary"></i> Etna Vidros</a></li>
        <li><a class="link-dark text-decoration-none" href="https://m.facebook.com/people/Etna-Vidros/100017545753553/" title="Facebook Etna Vidros" target="_blank"><i class="bi bi-facebook text-primary"></i> Etna Vidros</a></li>
      </ul>
    </div>

    <div >
      
      <a class="link-secondary text-decoration-none text-small" title="Alguns direitos reservados"
        href="https://br.freepik.com/fotos-gratis/bela-vista-de-um-lago-azul-capturada-do-interior-de-uma-villa_9931895.htm#query=porta%20vidro&position=46&from_view=keyword&track=ais&uuid=3a0aa0ca-8de0-4982-88e0-493edb55b1d5">Alguns direitos reservados</a>
    </div>
  </div>


</footer>
