---
interface Props {
  title: string;
}

import "bootstrap-icons/font/bootstrap-icons.css";
import "bootstrap/dist/css/bootstrap.css";
import "lightbox2/dist/css/lightbox.min.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta
      name="description"
      content="Etna Vidros oferece soluções completas em vidros no Rio de Janeiro. Vidros temperados, box de vidro, espelhos e mais. Contate-nos para um orçamento!"
    />
    <meta
      name="keywords"
      content="vidros Rio de Janeiro, vidraçaria Rio de Janeiro, vidros temperados RJ, box de vidro Rio de Janeiro, espelhos sob medida RJ, vidros personalizados Rio de Janeiro, vidros de segurança RJ, vidros decorativos Rio de Janeiro, empresa de vidros Rio de Janeiro, instalação de vidros RJ"
    />
    <meta name="author" content="Etna Vidros" />
    <link rel="canonical" href="https://www.etnavidros.com.br/" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      body {
        --swup-overlay-theme-color: #002a66;
        --swup-overlay-theme-duration: 0.6s;
        --swup-overlay-theme-delay: 0.2s;
        --swup-overlay-theme-scale: 1.2;
        --swup-overlay-theme-skew: 5deg;
      }
    </style>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script>
      import "bootstrap/dist/js/bootstrap.bundle.min.js";
      import "lightbox2/dist/js/lightbox-plus-jquery.js";
    </script>
  </body>
</html>
