---
interface Props {
	title: string;
}

import 'bootstrap-icons/font/bootstrap-icons.css';
import 'bootstrap/dist/css/bootstrap.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/vidracaria-etna-astro/favicon.ico">
  	<link rel="canonical" href="https://www.etnavidros.com.br/pagina-inicial">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
		<script>
		import 'bootstrap/dist/js/bootstrap.bundle.min.js'
import 'bootstrap/dist/js/bootstrap.bundle.min.js';
		</script>
	</body>
</html>

